@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'inter-ui';

@layer base {
    body {
        margin: 0;
        font-family: 'Inter',sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
}

@layer components {
    .InputField{
        @apply text-white bg-black !important ;
    }
}


